<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="false"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DISPLAY" value=":0"/>
<mapEntry key="ECLIPSE_HOME" value="/home/developer/Programming/0/eclipse"/>
<mapEntry key="ECLIPSE_PROJECT" value="${workspace_loc}/com.jevetools"/>
<mapEntry key="ECLIPSE_WORKSPACE" value="${workspace_loc}"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/bin/uxterm"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-geometry 135x52+1950+30 -lc -T &quot;Workspace0 Console&quot; -e bash --noprofile --rcfile ~/.bashrc_eclipse"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/com.jevetools}"/>
</launchConfiguration>
